<ion-view view-title="Soares de Andrade Advogados">
  <ion-content>
   <div class="row">
        <div class="col col-50 col-offset-25">Fundado em 1930</div>
    </div>
    <div class="row">
        <div class="col col-70 col-offset-15">
            <img ng-src="img/logo.jpg" id="logo" >
        </div>
    </div>
    <div class="row">
    <div class="col col-80 col-offset-10">
        <p> Nossa vocação é destinada em especial a satisfazer plenamente nossos clientes com eficiência, segurança, ética e segredo profissional, alicerçado com profissionais qualificados e constantemente aprimorados, equipados e informatizados que possibilita o acompanhamento processual ou arbitral online.</p>
        <p>O escritório foi idealizado para prestar uma advocacia personalíssima, verdadeiramente artesanal, pautada nos princípios da honestidade, sinceridade e combatividade. Postura que exige a presença e a dedicação integral do advogado, não havendo espaço para "terceirizações".</p>
        <p>Comprometidos com a transparência e confiabilidade em nossos relacionamentos, procuramos manter nossos clientes atualizados sobre todo o andamento de seus processos, oferecendo ainda infra-estrutura informatizada a qual permite ao interessado o acompanhamento aproveitando a facilidade proporcionada pela internet.</p>
        <br>
        <p>O escritório tem sua especialidade na advocacia criminal, atuando tanto na esfera federal como na justiça estadual. Contudo, possui experiência nas áreas de direito de família, órfãos e sucessões, responsabilidade civil, cartas rogatória além de homologação de execução de sentenças estrangeiras.</P>
        <p>Fundamentados na Lei, na Doutrina e na Jurisprudência atendemos às necessidades de nossos clientes de maneira ágil e ética. Tradição, seriedade e dedicação são os pilares que norteiam o trabalho do escritório, nosso maior patrimônio, o qual fazemos questão absoluta de preservar.</p>
    
    </div>    
    </div>
  </ion-content>
</ion-view>
