/* Empty. Add your own CSS if you like */
#logo{
    width:70%;
    margin-left:15%;
}
#logotop {
    width:32px;
    margin-top:5px;
}
.texto{
    text-align:justify;
    padding:5px;
} 

.menu-left{
    background-color:rgba(128, 128, 128, 0.14);
}
.menu-left a{
    background-color:#b2b2b2 !important;
    color:white;
}