/* Empty. Add your own CSS if you like */
#logo{
    width:70%;
    margin-left:15%;
}
#logotop {
    width:32px;
    margin-top:5px;
}
.texto{
    text-align:justify;
    padding:5px;
} 

.button-dark a {
    color:black;
}